# IDE
.vscode/
.cursor/
.idea/
*.swp
*.swo

# test file
/test/

# local use files
/local/

# Ignore system and temporary files
.DS_Store
*.log
*.tmp
Thumbs.db
desktop.ini

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.ipynb_checkpoints/

# Ignore R history files
.Rhistory
.RData
.Rproj.user/

# Ignore MATLAB temporary files
*.asv
*.m~
